.btn {
	width: 100%;
	padding: 8px 20px 8px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	&--primary {
		background-color: $primary;
		color: $white;
	}
}
